
@{
    ViewData["Title"] = "My Podcasts";
}
<div class="text-center">
    <h2 class="display-4">My Podcasts</h2>
    <a href="https://baconsale.com" target="_blank" class="btn btn-primary">Click Here!</a>
</div>
